<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('House Project')"></head>

<body style="overflow-x: hidden;">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('mypage')">
    </nav>

    <form class="form-signin info_form" action="#" th:action="@{/account/info}" th:object="${user}" method="post" >
        <h3 style="font-weight:bold; margin-bottom:4rem;">회원 정보 수정</h3>
        <input type="hidden" th:field="*{id}">
        <table>
            <tr>
                <th>아이디</th>
                <td><input type="text" class="form-control" th:classappend="${#fields.hasErrors('userid')} ? 'is-invalid'" id="userid" th:field="*{userid}" disabled readonly>
                    
            </tr>
            <tr>
                <th>비밀번호</th>
                <td><input id="inputPassword" name="password" class="form-control"></td>
            </tr>
            <!--<tr>
                <th>비밀번호 확인</th>
                <td><input type="text" id="inputPassword" name="password" class="form-control" required></td>
            </tr>-->
            <tr>
                <th>이름</th>
                <td><input type="text" class="form-control" th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'" id="username" th:field="*{username}"></td>
            </tr>
            <tr>
                <th>주소</th>
                <td>
                    <input type="text" class="form-control" th:classappend="${#fields.hasErrors('useradd1')} ? 'is-invalid'" id="useradd1" th:field="*{useradd1}">
                    <input type="text" class="form-control" th:classappend="${#fields.hasErrors('useradd2')} ? 'is-invalid'" id="useradd2" th:field="*{useradd2}" placeholder="동, 호수">
                </td>
            </tr>
            <tr>
                <th>이메일</th>
                <td><input type="text" class="form-control" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'" id="email" th:field="*{email}"></td>
            </tr>
        </table>
        <button type="submit" class="btn btn-secondary" style="width: 20%;" th:onclick="|updateUser()|">회원 정보 수정</button>
        <a class="btn" type="button" th:onclick="|deleteUser(*{id})|" style="float:right; text-decoration:underline;">탈퇴하기</a>
    </form>

    <!-- 푸터 설명 -->
    <div th:replace="fragments/common :: fragment-bottom"></div>

    <!-- jQuery, Popper.js, and Bootstrap JS -->
    <footer th:replace="fragments/common :: footer"></footer>
    <script>
        function updateUser() {
            alert('수정이 완료되었습니다.');
        }

        function deleteUser(id) {
            var check = confirm('정말 탈퇴하시겠습니까?');
            if(check) {
                $.ajax({
                    url: '/api/users/' + id,
                    type: 'DELETE',
                    success: function(result) {
                        console.log('result', result);
                        alert('탈퇴가 완료되었습니다.');
                        sessionStorage.clear();
                        window.location.href = '/logout';
                    }
                })
            } else alert('취소되었습니다.');
        }
    </script>
</body>

</html>