<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('House Project')"> 
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="starter-template.css" rel="stylesheet">

    <title>House Project</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('home')">
        <!-- <a class="navbar-brand" href="#">Spring Boot Tutorial</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">홈 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">게시판</a>
                </li>
            </ul>
        </div> -->
    </nav>

    <div th:replace="fragments/common :: fragment-mainimg"></div>

    <!--<main role="main" class="container">

        <div class="starter-template">
            <h1>Spring Boot Tutorial</h1>
            <p class="lead">Spring Boot을 이용해 웹 페이지 제작<br>
                Spring Security, JPA를 이용해 보안 설정과 데이터 다루기</p>
        </div>

    </main> /.container -->

    <!-- 상품 테이블 -->
    <div th:replace="fragments/common :: fragment-table"></div>

    <!-- 인기사진 -->
    <div class="main_room">
        <p class="stitle" style="margin-top: 5rem;">오늘의 인기사진</p>
        <br>
        <div class="main_room_list" >
            <div>
                <a href="#"><img src="image/best1.PNG" style="width: 54rem; height: 26rem"></a>
            </div>
        </div>
        <div class="main_room_list">
            <div>
                <a href="#"><img src="image/best2.webp" style="width: 40rem; height: 54rem; margin-left: 56rem; position: relative; top: -26rem;"></a>
            </div>
        </div>
        <div class="main_room_list">
            <div>
                <a href="#"><img src="image/best3.webp" style="width: 26rem; height: 26rem; position: relative; top: -52rem; left: 0;"></a>
            </div>
        </div>
        <div class="main_room_list">
            <div>
                <a href="#"><img src="image/best4.webp" style="width: 26rem; height: 26rem; position: relative; top: -52rem; left: 2rem;"></a>
            </div>
        </div>
    </div>

    <!-- 푸터 설명 -->
    <div th:replace="fragments/common :: fragment-bottom"></div>

    <!-- jQuery, Popper.js, and Bootstrap JS -->
    <footer th:replace="fragments/common :: footer"> </footer>
</body>

</html>