<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('House Project')"></head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('home')">
        
    </nav>

    <div th:replace="fragments/common :: fragment-mainimg"></div>

    <!-- 상품 테이블 -->
    <p class="category_title" style="margin-top: 10%; margin-left: 17%;">오늘의 딜</p>
    <div class="store_div" style="margin-bottom: 50rem;">
        <div class="col-3 col-md-3 deal" th:each="product, i : ${products}" th:if="${i.count < 5}">
            <a th:href="@{/product/order(id=${product.id})}">
                <div>
                    <img th:src="@{${product.getImgPath()}}">
                </div>
                <div>
                    <h5>
                        <span th:text="${product.company}" class="product_company">오트밀하우스</span><br>
                        <span th:text="${product.name}" class="product_name">BEST 침대/소파/식탁/서랍장/거울/드레스룸/거실장 모음전</span>
                    </h5>
                    <span>
                        <span th:text="${product.discount}" class="product_discount" th:if="${product.discount != 0}" id="discount">47%</span><p class="product_discount">%</p>
                        <span class="product_price" th:style="${product.discount == 0 ? 'padding-left: 0;' : '
                        padding-left: 8%;'}" th:text="${product.saleprice + '원'}">155,000</span>
                    </span>
                </div>
            </a>
        </div>
    </div>
    <!-- 상품 영역 끝 -->

    <!-- 인기사진 -->
    <p class="stitle" style="text-align:center; margin: 5rem auto 5rem auto;">오늘의 인기사진</p>
    <br>
    <!--<div class="main_room">
        <div class="main_room_list" >
            <div>
                <a href="#"><img src="image/best1.PNG" style="width: 54rem; height: 26rem"></a>
            </div>
        </div>
        <div class="main_room_list">
            <div>
                <a href="#"><img src="image/best2.webp" style="width: 40rem; height: 54rem; margin-left: 56rem; position: relative; top: -26rem;"></a>
            </div>
        </div>
        <div class="main_room_list">
            <div>
                <a href="#"><img src="image/best3.webp" style="width: 26rem; height: 26rem; position: relative; top: -52rem; left: 0;"></a>
            </div>
        </div>
        <div class="main_room_list">
            <div>
                <a href="#"><img src="image/best4.webp" style="width: 26rem; height: 26rem; position: relative; top: -52rem; left: 2rem;"></a>
            </div>
        </div>
    </div>-->

    <!-- 집들이 시작-->
    <div class="home_table">
        <table class="home">
            <tr>
                <td>
                    <a href="#">
                        <img th:src="@{/image/home/home1.webp}">
                        <P>식품과 소품으로 가득 채운, 맥시멀 홈스타일링</P>
                        <div class="home_name">L.s-jung</div>
                    </a>
                </td>

                <td>
                    <a href="#">
                        <img th:src="@{/image/home/home2.webp}">
                        <P>블랙 콘셉트로 시크하게 바뀐 30년 된 구축아파트</P>
                        <div class="home_name">202_cafe</div>
                    </a>
                </td>

                <td>
                    <a href="#">
                        <img th:src="@{/image/home/home3.webp}">
                        <P>컬러 포인트가 있는, 알록달록한 10평 공간</P>
                        <div class="home_name">injxe</div>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#">
                        <img th:src="@{/image/home/home4.webp}">
                        <P>테라스 정원까지 품은, 아파트 플랜테리어</P>
                        <div class="home_name">몽찌홈</div>
                    </a>
                </td>

                <td>
                    <a href="#">
                        <img th:src="@{/image/home/home5.webp}">
                        <P>여백은 조명과 가구로, 무몰딩으로 바뀐 리모델링</P>
                        <div class="home_name">toomin</div>
                    </a>
                </td>

                <td>
                    <a href="#">
                        <img th:src="@{/image/home/home6.webp}">
                        <P>반려동물과 함께, 조명과 햇살로 채운 신혼집</P>
                        <div class="home_name">navy3978</div>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <!-- 집들이 끝-->

    <!-- 푸터 설명 -->
    <div th:replace="fragments/common :: fragment-bottom"></div>

    <!-- jQuery, Popper.js, and Bootstrap JS -->
    <footer th:replace="fragments/common :: footer"> </footer>
</body>

</html>